.add-sheet {
	padding-bottom: 100px;
	&__subtitle {
		margin-bottom: 25px;
	}
	&__descr {
		margin-bottom: 55px;
	}
	&__buttons {
		text-align: right;
	}
	&__wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 15px;
	}
}

.down-template {
	position: relative;
	width: 48%;
	border: 1px solid $border-color;
	border-radius: 4px;
	background-color: $td-bg;
	padding: 40px 50px;
	&__title {
		margin: 0;
		font-size: 20px;
		line-height: 30px;
		color: $header-color;
		font-family: $roboto-b;
	}
	&__descr {
		margin: 0;
		font-size: 17px;
		line-height: 30px;
		color: $text-color;
		font-family: $muli-r;
	}
	&__btn {
		position: absolute;
		top: 50%;
		right: 50px;
		transform: translate(0, -50%);
		background-repeat: no-repeat;
		background-image: url(../img/down-icon.png);
		background-size: 25px 25px;
		background-position: 50%;
		width: 55px;
		height: 50px;
		border-radius: 4px;
		background-color: $first-color;
		&:hover {
			background-color: lighten($first-color, 3%);
		}
	}
}

.upload-files {
	width: 48%;
	border: 1px dashed darken($upload-bg, 20%);
	border-radius: 4px;
	background-color: $upload-bg;
	padding: 40px 30px;
	&__title {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		font-size: 20px;
		line-height: 30px;
		color: $header-color;
		font-family: $roboto-b;
		.or {
			font-size: 17px;
			color: $text-color;
			font-family: $muli-r;
		}
	}
	&__btn {
		padding: 14px 20px;
	}
	&__file {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
}

.upload-files__dragndrop,
.upload-files__uploading,
.upload-files__success,
.upload-files__error {
	display: none;
}

.upload-files.has-advanced-upload .upload-files__dragndrop {
	display: inline;
}

.upload-files.is-dragover {
	background-color: darken($upload-bg, 7%);
	border-color: $black-color;
}

.upload-files.is-uploading .upload-files__input {
	visibility: none;
}

.upload-files.is-uploading .upload-files__uploading {
	display: block;
}

.no-js .upload-files__button {
	display: block;
}